In [3]:
import pandas as pd

data_import = pd.read_csv("the_file.csv")
data_import

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:


df_1 = _deepnote_execute_sql("""select 
    publisher, 
    count(publisher) 
from data_import 
group by publisher
order by 2 desc

""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_1

                        Publisher  count(publisher)
0                 Electronic Arts              1356
1                      Activision               985
2              Namco Bandai Games               939
3                         Ubisoft               933
4    Konami Digital Entertainment               834
..                            ...               ...
577               Marvelous Games                 1
578                           ASK                 1
579                        Piacci                 1
580                     Ongakukan                 1
581                          None                 0

[582 rows x 2 columns]

In [27]:


df_3 = _deepnote_execute_sql("""SELECT NAME,
       year_of_release,
       na_sales
FROM   (
              SELECT NAME,
                     year_of_release,
                     na_sales,
                     Row_number() OVER (partition BY year_of_release) AS the_filter
              FROM   (
                              SELECT   NAME,
                                       year_of_release,
                                       na_sales
                              FROM     data_import
                              WHERE    year_of_release NOT null
                              ORDER BY year_of_release,
                                       na_sales DESC ) a ) b
WHERE  the_filter < 6
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_3

                               Name  Year_of_Release  NA_Sales
0                 Super Mario Bros.           1985.0     29.08
1                           Kung Fu           1985.0      1.64
2                          Gyromite           1985.0      0.73
3                              1942           1985.0      0.65
4                       Ice Climber           1985.0      0.46
..                              ...              ...       ...
184       Call of Duty: Black Ops 3           2015.0      6.03
185       Call of Duty: Black Ops 3           2015.0      4.59
186    Star Wars Battlefront (2015)           2015.0      2.99
187               Halo 5: Guardians           2015.0      2.78
188  Gears of War: Ultimate Edition           2015.0      2.61

[189 rows x 3 columns]

In [28]:


df_4 = _deepnote_execute_sql("""select MAX(NA_sales)
from data_import
where year_of_release = 2012

-- What is the best selling game in 2012
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_4

   max("NA_sales")
0             8.25

In [30]:


df_5 = _deepnote_execute_sql("""select *
from data_import
where name = 'Call of Duty: Black Ops II' -- year_of_release = 2012 and NA_sales = 8.25
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_5

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.73,0.65,2.42,13.79,83.0,21.0,5.3,922.0,Treyarch,M
1,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.24,0.07,1.12,13.67,83.0,73.0,4.8,2256.0,Treyarch,M
2,Call of Duty: Black Ops II,PC,2012.0,Shooter,Activision,0.64,0.69,0.00,0.19,1.53,74.0,11.0,4.2,1635.0,Treyarch,M
3,Call of Duty: Black Ops II,WiiU,2012.0,Shooter,Activision,0.20,0.18,0.00,0.03,0.41,81.0,31.0,6.9,228.0,Treyarch,M

In [19]:


df_2 = _deepnote_execute_sql("""select * from data_import

name, year, NA_sales

top NA_sales year
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_2

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,None,NaN,None,None
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,None,NaN,None,None
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,None,NaN,None,None
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,None,NaN,None,None
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,None,NaN,None,None
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,None,NaN,None,None

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=d7ea3c85-6a5a-4a78-8eab-42229bb50b82' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>